html, body {
    height:100% !important;
    width: 100% !important;
}

.main-row {
	height:100% !important;
    width: 100% !important;
     margin: 0 !important;
    padding: 0 !important;
}

.container {
    height:100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.map-column {
	height: 100% !important;
	margin: 0 !important;
    padding: 0 !important;
}

#map {
    height: 100% !important;
}

.no-margin, .no-padding {
	margin:0 !important;
}

.no-side-margin {
	margin: 2% 0 !important;
}
.simple-padding {
	padding: 2% !important;
}

label {
	font-family: sans-serif;
	font-size: 20px !important;
	font-weight: 500;
}

